[defaults]
inventory = inventory.ini
# private_key_file = ./terra-automate-key    # I commented it bcz it is already in inventory file
host_key_checking = False
timeout = 30
forks = 10

[ssh_connection]
scp_if_ssh=True
vault_password_file = .vault_pass
